section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title-mobile.font-w-semi-bold.font-s-70.text-up
        | О концепции
      .about-section__sub-title-mobile.font-w-regular.font-s-48.text-up
        | тайм-кафе
      .about-section__box
        .about-section__box-text
          h2.about-section__title.font-w-semi-bold.font-s-70.text-up
            | О концепции
          .about-section__sub-title.font-w-regular.font-s-48.text-up
            | тайм-кафе
          .about-section__text.font-s-18
            | «НА РАССЛАБОНЕ» открылось в 2013 году, став одним из первых антикафе в городе. 
            br.no-br-md
            | Основная идея заключалась в создании места, где гостям будет уютно как дома, 
            br.no-br-md
            | и даже лучше. В нашем тайм-кафе можно поиграть в приставку, расслабиться, провести 
            br.no-br-md
            | праздник, поработать, сыграть в настольные игры, поучаствовать в мастер-классах и 
            br.no-br-md
            | семинарах, и просто собраться с друзьями и близкими, чтобы приятно провести время.
            br
            br
            | В 2019 году мы заслужили звание лучшего тайм-кафе от 2ГИС, сегодня у нас более 
            br.no-br-md
            | 2000 постоянных клиентов, которые рекомендуют нас своим друзьям и оставляют 
            br.no-br-md
            | положительные отзывы в различных сервисах.
            br
            br
            | Модель тайм-кафе позволяет получать полупассивный доход с минимальными 
            br.no-br-md
            | вложениями и подойдет для старта любому бизнесмену, вне зависимости от прежнего 
            br.no-br-md
            | опыта. Рынок антикафе постоянно растет, а бизнес-модель «НА РАССЛАБОНЕ» 
            br.no-br-md
            | позволит вам быстро запустить собственное антикафе, окупить инвестиции и перейти 
            br.no-br-md
            | к масштабированию. Будем рады обсудить с новыми партнерами все условия работы».
        //- .about-section__box-img
        //-   .font-w-medium.font-s-18.color-light-green Имя Фамилия
        //-   .font-s-16.color-grey-b3 Основатель компании
      .about-section__bottom
        .about-section__bottom-text.font-w-medium.font-s-28
          | Ждем ваши вопросы 
          br.no-br
          | по франшизе!
        form.about-section__form(data-feedback-form)
          input.input.about-item-answer(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
          input.input.about-item(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.about-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.about-item(type="submit") Задать вопрос команде
