section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title-mobile.font-w-semi-bold.font-s-70.text-up
        | О концепции
      .about-section__sub-title-mobile.font-w-regular.font-s-48.text-up
        | тайм-кафе
      .about-section__box
        .about-section__box-text
          h2.about-section__title.font-w-semi-bold.font-s-70.text-up
            | О концепции
          .about-section__sub-title.font-w-regular.font-s-48.text-up
            | тайм-кафе
          .about-section__text.font-s-18
            | «Мы открылись в 2013 году, став одним из первых антикафе в городе. Основная идея 
            br.no-br-md
            | заключалась в создании места, где гостям будет уютно как дома, и даже лучше. 
            br.no-br-md
            | В нашем тайм-кафе можно поиграть в приставку, расслабиться, провести праздник, 
            br.no-br-md
            | поработать, сыграть в настольные игры, поучаствовать в мастер-классах и семинарах, 
            br.no-br-md
            | и просто собраться с друзьями и близкими, чтобы приятно провести время.
            br
            br
            | В 2019 году мы заслужили звание лучшего тайм-кафе от 2ГИС, сегодня у нас более 
            br.no-br-md
            | 2000 постоянных клиентов, которые рекомендуют нас своим друзьям и оставляют 
            br.no-br-md
            | положительные отзывы в различных сервисах.
            br
            br
            | Модель тайм-кафе позволяет получать полупассивный доход с минимальными 
            br.no-br-md
            | вложениями и подойдет для старта любому бизнесмену, вне зависимости от прежнего 
            br.no-br-md
            | опыта. Рынок антикафе постоянно растет, а сам бизнес легко автоматизируется 
            br.no-br-md
            | и масштабируется. Буду рад обсудить с новыми партнерами все возможности и лично 
            br.no-br-md
            | покажу все процессы и тонкости работы».
        .about-section__box-img
          .font-w-medium.font-s-18.color-light-green Имя Фамилия
          .font-s-16.color-grey-b3 Основатель компании
      .about-section__bottom
        .about-section__bottom-text.font-w-medium.font-s-28
          | С удовольствием отвечу 
          br.no-br
          | на любые вопросы 
          br.no-br
          | по франшизе!
        form.about-section__form(data-feedback-form)
          input.input.about-item-answer(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
          input.input.about-item(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.about-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.about-item(type="submit") Задать вопрос основателю
