header.footer
  .footer__container
    .footer__brand.font-w-light.font-s-18 Франшиза тайм-кафе, 2024
    img.footer__logo(src="images/header-logo.png" loading="lazy" width="202" height="202" alt="logo")
    include ../components/phone-number.pug
