section.steps-section
  .wrapper
    .steps-section__container
      .steps-section__box
        h2.steps-section__title.font-s-70.font-w-semi-bold.text-up
          | Основные этапы
        .steps-section__sub-title.font-s-48.font-w-regular.text-up
          | открытия бизнеса 
          br.no-br
          | по франшизе
        .steps-section__text.font-s-30
          | Как мы запускаем ваше прибыльное 
          br
          | тайм-кафе за 25 дней
        .swiper-steps
          .steps-section__cards.swiper-wrapper
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-semi-bold.font-s-20.text-up.card-line этап 01
              .font-s-20.color-grey-67 Заключаем договор <br class="no-br"> франшизы
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-semi-bold.font-s-20.text-up этап 02
              .font-s-20.color-grey-67 Ищем подходящее помещение <br class="no-br"> и подписываем договор аренды
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-semi-bold.font-s-20.text-up.card-line этап 03
              .font-s-20.color-grey-67 Создаем и запускаем <br class="no-br"> рекламные кампании
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-semi-bold.font-s-20.text-up этап 04
              .font-s-20.color-grey-67 Помогаем в ремонте <br class="no-br"> и оформлении помещения
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-semi-bold.font-s-20.text-up.card-line этап 05
              .font-s-20.color-grey-67 Осуществляем поиск <br class="no-br"> и обучение персонала
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-semi-bold.font-s-20.text-up этап 06
              .font-s-20.color-grey-67 Заказываем, доставляем <br> и устанавливаем необходимое <br class="no-br"> оборудование и мебель
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-semi-bold.font-s-20.text-up.card-line этап 07
              .font-s-20.color-grey-67 Формируем первичные запасы <br class="no-br"> товара и расходных материалов
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-semi-bold.font-s-20.text-up этап 08
              .font-s-20.color-grey-67 Открываем тайм-кафе и помогаем <br class="no-br"> в его развитии и масштабировании
          .steps-pagination.swiper-progress-steps
        .steps-section__bottom-title.font-w-medium.font-s-28
          | Работаем по договору, в котором описаны 
          br.no-br
          | все обязанности и условия сотрудничества
        button.btn.steps-section__bottom-btn(data-remodal-target="modal-form-agreement") Скачать пример договора
        img.steps-section__img-mobile(src="images/steps-section-img-mobile.png" loading="lazy" width="1060" height="480" alt="image")
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="480" height="1142" alt="image")
