section.support-section
  .wrapper
    .support-section__container
      h2.support-section__title.font-w-regular.font-s-40.text-up.color-grey-38
        | Хотите узнать больше?
      .support-section__sub-title.font-s-30
        | Оставьте заявку на тест-драйв, 
        br.no-br
        | и мы расскажем вам:
      .support-section__items
        .support-section__item
          .support-section__item-dot
          .support-section__item-text.font-s-20
            | На что обратить внимание на старте
        .support-section__item
          .support-section__item-dot
          .support-section__item-text.font-s-20
            | Как стать тайм-кафе №1 в своем городе
        .support-section__item
          .support-section__item-dot
          .support-section__item-text.font-s-20
            | Какие услуги важно внедрить
        .support-section__item
          .support-section__item-dot
          .support-section__item-text.font-s-20
            | Как повысить средний чек
        .support-section__item
          .support-section__item-dot
          .support-section__item-text.font-s-20
            | Как повысить возвращаемость клиентов
        .support-section__item
          .support-section__item-dot
          .support-section__item-text.font-s-20
            | Как работать с персоналом
        .support-section__item
          .support-section__item-dot
          .support-section__item-text.font-s-20
            | Как выбрать локацию
        .support-section__item
          .support-section__item-dot
          .support-section__item-text.font-s-20
            | Какие ошибки вас могут ждать
      .support-section__bottom
        .font-w-medium.font-s-28
          | Запишитесь на 
          br.no-br
          | тест-драйв франшизы!
        form.support-section__form(data-feedback-form)
          input.input.support-item(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.support-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.support-item(type="submit") Записаться
      img.support-section__img(src="images/support-section-img.png" loading="lazy" width="1404" height="1510" alt="image")
